# Gradle files
.gradle/
build/

# JAR files
*.jar
*.war

# Logs
*.log

# Test results
/test-results/
reports/

# Compiled class files
**/*.class

# Temporary files
tmp/
*.tmp
*.temp

# IDE specific files
.idea/
*.iml
*.hprof

# Operating system files
.DS_Store
Thumbs.db

# Ignore the NOTES file if it's not needed for version control
NOTES